
{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Djangando</title>
        
        {% include 'base/css.html' %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/inicio.css'%}"/>
        
        {% block base_head %}{% endblock base_head %}
    </head>

    <body>
        {% include 'base/navbar.html' with nome_da_marca='Djangando' %}
 
        {% block content %} {% endblock %} 
        
        {% include 'base/js.html' %}
        
    </body>
</html>
